<div class="container mt-4 card p-4">
    <h2 class="mb-4 border-bottom border-3 border-danger text-center">Telefones</h2>

    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">

        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="pessoa" class="form-label">Pessoa</label>
                <input id="pessoa" type="text" class="form-control" formControlName="pessoa"
                    (blur)="verificarTelefone()">
                <div *ngIf="mensagemErroTelefone" class="text-danger small mt-1">
                    {{ mensagemErroTelefone }}
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <label for="telefone" class="form-label">Telefone</label>
                <input id="telefone" type="text" class="form-control" formControlName="telefone">
            </div>

            <div class="d-flex justify-content-between">
                <a routerLink="/app-procedimento" class="btn btn-secondary">
                    Cancelar
                </a>
                <button type="submit" class="btn btn-success" [disabled]="formGroup.invalid">
                    Salvar
                </button>
            </div>
        </div>
    </form>
</div>